body{
    background-color: rgb(40, 66, 180);
    font: normal 15pt 'IBM Plex Mono';
    text-align: center;
}

header {
    color: white;
}

section {
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.446);
}

footer {
    color: white;
}

a.linkE {
    text-decoration: none;
    font-style: italic;
    color: white;
    transition-duration: 0.5s;
}

a.linkE:hover {
    color: cyan;
    text-decoration: underline;
}



